# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

services:
  api:
    image: iris-api
    build:
      context: .
      dockerfile: src/Iris.WebApi/Dockerfile
    environment:
      - ConnectionStrings__Redis=redis:6379
      - HttpClients__BCB__BaseUrl=https://api.bcb.gov.br
      - HttpClients__BCB__TimeoutInSeconds=5
    ports:
      - 5164:5164
  redis:
    image: redis:7.0-alpine
    ports:
      - 6379:6379