# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

services:
  api:
    image: iris-api
    build:
      context: .
      dockerfile: src/Iris.WebApi/Dockerfile
    environment:
      - ConnectionStrings__Redis=redis:6379
      - HttpClients__BCB__BaseUrl=https://api.bcb.gov.br
      - HttpClients__BCB__TimeoutInSeconds=60
    expose:
      - 5164
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure 
      resources:
        limits:
          cpus: "0.5"
          memory: 120M
    networks:
      - iris-network

  nginx:
    image: nginx:1.29.1-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 3333:3333
    depends_on:
      - api
    networks:
      - iris-network      

  redis:
    image: redis:7.0-alpine
    ports:
      - 6379:6379
    networks:
      - iris-network      

networks:
  iris-network:
    driver: bridge      